rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {


    // =========================
    // FUNKCJE
    // =========================


    function isLogged() {

      return request.auth != null;

    }



    function isAdmin() {

      return request.auth != null
        && request.auth.token.email
        == "belacount4@gmail.com";

    }





    // =========================
    // ZAMÓWIENIA
    // =========================


    match /orders/{orderId} {


      // użytkownik po AccessPage może oglądać listę

      allow read: if isLogged();



      // każdy zalogowany portalowo może dodać zamówienie

      allow create: if isLogged()
        && request.resource.data.status == "pending";



      // tylko administrator

      allow update, delete: if isAdmin();


    }





    // =========================
    // LOGI
    // =========================


    match /logs/{logId} {


      // aplikacja może zapisywać logi

      allow create: if isLogged();



      // tylko admin widzi historię

      allow read, update, delete: if isAdmin();


    }





    // =========================
    // KALENDARZ
    // =========================


    match /events/{eventId} {


      // każdy po AccessPage widzi kalendarz

      allow read: if isLogged();



      // tylko administrator zarządza

      allow create, update, delete: if isAdmin();


    }


  }

}
