.gooey-card{


position:relative;

overflow:hidden;


height:260px;


border:none;

cursor:pointer;


border-radius:35px;


padding:35px;


text-align:left;


background:

rgba(255,255,255,.12);


backdrop-filter:

blur(20px);



border:

1px solid rgba(255,255,255,.25);



color:white;



transition:.45s;



isolation:isolate;


}



.gooey-card:hover{


transform:

translateY(-12px);


box-shadow:

0 30px 80px rgba(0,0,0,.35);


}




.gooey-blob{


position:absolute;


border-radius:50%;


filter:

blur(25px);


z-index:-1;


transition:.6s;


}





.blob-one{


width:180px;

height:180px;


top:-70px;

left:-60px;


background:

#0353a4;


}



.blob-two{


width:150px;

height:150px;


bottom:-60px;

right:-40px;


background:

#2c3bd3;


}




.gooey-card:hover .blob-one{


transform:

scale(1.4)
translate(20px,20px);


}



.gooey-card:hover .blob-two{


transform:

scale(1.5)
translate(-20px,-20px);


}




.gooey-content{


position:relative;


z-index:3;


}





.gooey-icon{


font-size:45px;

margin-bottom:25px;


}




.gooey-card h3{


font-size:26px;


margin:0 0 12px;


font-weight:900;


}




.gooey-card p{


margin:0;


color:#d8ebff;


font-size:16px;


line-height:1.5;


}
