.scroll-stack-scroller {
  position: relative;
  width: 100%;
  overflow: visible;
}

.scroll-stack-inner {
  position: relative;
  padding: 120px 0 300px;
}

.scroll-stack-card {
  position: relative;

  transform-origin: top center;

  will-change: transform, filter;

  backface-visibility: hidden;

  transform-style: preserve-3d;

  width:100%;

  margin:0 auto;

  box-sizing:border-box;

  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}


.scroll-stack-card > * {

  width:100%;

}


.scroll-stack-end {

  height:1px;

}
