.scroll-stack-scroller{
  width:100%;
  position:relative;
}

.scroll-stack-inner{
  padding:120px 0 300px;
}


.scroll-stack-card{

  position:relative;

  transform-origin:top center;

  will-change:transform,filter;

  backface-visibility:hidden;

  width:100%;

}


.scroll-stack-end{

  height:1px;

}
